@model Vnsf.WebHost.Areas.Cheetah.Models.AppBindingModel

@{
    ViewBag.Title = "Detail";
}
<h3>Hồ sơ đăng đề nghị tài trợ</h3>

<div class="row">
    <div class="col-lg-9">
        <br />
        <p>
            Để hoàn thiện hồ sơ đăng ký tài trợ. Xin vui lòng cung cấp đầy đủ các tài liệu được liệt kê dưới đây.
        </p>
        <p>Tình trạng hồ sơ hiện tại: @Html.DisplayFor(m => m.Status)</p>
        <br />

        @Html.ValidationSummary()
        @Html.Action("AppDocs", routeValues: new { oppId = Model.Opportunity.Id })
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.Id)
            if (Model.Status == Vnsf.Data.Entities.ApplicationStatus.Creating)
            {
                <input type="submit" value="Nộp hồ sơ" class="btn btn-primary" />
            }
            else
            {

                <input type="submit" value="Xem hồ sơ" class="btn btn-primary" />
            }
            @*@Html.ActionLink("Add detail", "Create", new { id = Model.Id }, new { @class = "btn btn-primary" })*@

        }
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Model.Opportunity.Name - @Model.Opportunity.GrantName
            </div>
            <div class="panel-body">
                <h4>Description</h4>
                <div>
                    @Html.Raw(Model.Opportunity.Description)
                </div>

                <h4>StartDate</h4>
                <div>
                    @Html.Raw(Model.Opportunity.StartDate)
                </div>

                <h4>Deadline</h4>
                <div>
                    @Html.Raw(Model.Opportunity.Deadline)
                </div>
            </div>

        </div>
        @Html.ActionLink("Proposal", "Update", "Proposal", new { applicationId = Model.Id }, null)


    </div>
</div>