@using Microsoft.AspNet.Identity
@using Vnsf.WebHost.Areas.Cheetah.Controllers
@using Microsoft.Web.Mvc
@using Vnsf.WebHost.Infrastructure.Helpers

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "UserAccount", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav ">
            <li>@Html.ActionLink("Documents", "Index", "Document", null, null)</li>
            <li>@Html.ActionLink("Opportunities", "Index", "Opportunity", null, null)</li>
            <li>@Html.ActionLink("Profile/Resume", "Index", "UserProfile", null, null)</li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.GetUserName()! <b class="caret"></b> </a>
                <ul class="dropdown-menu">
                    <li>@(Html.ActionLink<UserAccountController>(c => c.Manage(null), "Account Management", new { title = "Account Management" }))</li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@(Html.ActionLink<UserAccountController>(c => c.Register(), "Register", new { id = "registerLink" }))</li>
        <li>@(Html.ActionLink<UserAccountController>(c => c.Login(null), "Login", new { id = "loginLink" }))</li>
    </ul>
}
