@using Vnsf.Resource.WebHost.Views.Home
<!-- Begin Large Hero Block -->
<section class="hero accent parallax" style="background-image: url(images/parallax_wm.jpg);">

    <!-- Heading -->
    <div class="hero-content container">
        <p><em>@Index_cshtml.Title</em></p>
        <h1>@Index_cshtml.Slogan</h1>
    </div><!-- END -->
    <!-- Button -->
    <div class="sub-hero container">
        <span class="line"></span>
        <a href="~/opportunities/" class="button white">@Index_cshtml.LearnMore</a>
    </div><!-- END -->

</section>
<!-- End Large Hero Block -->
<!-- Begin Overview Block -->
<section class="center-mobile content container">
    <div class="row">

        <div class="col-sm-3">
            <h2>@Index_cshtml.C1</h2>
            <p>@Index_cshtml.C1_detail</p>
        </div>
        <div class="col-sm-3">
            <h2>@Index_cshtml.C2</h2>
            <p>@Index_cshtml.C2_detail</p>
        </div>
        <div class="col-sm-3">
            <h2>@Index_cshtml.C3</h2>
            <p>@Index_cshtml.C3_detail</p>
        </div>
        <div class="col-sm-3">
            <h2>@Index_cshtml.C4</h2>
            <p>@Index_cshtml.C4_detail</p>
        </div>
    </div>
</section>
<!-- End Overview Block -->
<!-- Begin Call to Action Block -->
<section class="call-to-action content light">
    <div class="container">

        <!-- Title -->
        <div class="row">
            <div class="title col-lg-12">
                <h2>@Index_cshtml.Areyouready</h2>
                <p>@Index_cshtml.ReadyAnswer</p>
            </div>
        </div><!-- END -->
        <!-- Actions -->
        <div class="row">
            <div class="actions padded col-lg-12">
                <a class="button accent-alt" href="#">@Index_cshtml.Apply</a>
                <span class="choice">or</span>
                <a class="button gray" href="~/about/">@Index_cshtml.ContactUs</a>
            </div>
        </div><!-- END -->
    </div>
</section>
<!-- End Call to Action Block -->
<!-- Begin Milestone Block -->
<section class="container">
    <div class="row">

        <!-- Milestone -->
        <div class="milestone col-sm-4">
            <span class="value" data-from="10" data-to="55" data-speed="5" data-refresh-interval="100">55M USD</span>
            <h6>@Index_cshtml.Total</h6>
        </div><!-- END -->
        <!-- Milestone -->
        <div class="milestone col-sm-4">
            <span class=" value">300K USD</span>
            <h6>@Index_cshtml.Each</h6>
        </div><!-- END -->
        <!-- Milestone -->
        <div class="milestone col-sm-4">
            <span class=" value">24 Months</span>
            <h6>@Index_cshtml.Duration</h6>
        </div><!-- END -->

    </div>
</section>
<!-- End Milestone Block -->
<!-- Begin Feature Block -->
<section class="feature-box light">
    <div class="feature-image" style="background-image: url(images/idea.jpg);"></div>
    <div class="content container center-mobile">

        <!-- Title -->
        <div class="row">
            <div class="title col-sm-6 col-sm-push-6">
                <h2>@Index_cshtml.PriorityField</h2>
                <p>@Index_cshtml.PriorityField_detail</p>
            </div>
        </div><!-- END-->
        <!-- Features -->
        <div class="row">
            <div class="feature col-sm-6 col-sm-offset-6 col-md-3 clearfix">
                <h3>@Index_cshtml.F1</h3>
                <p class="small">@Index_cshtml.F1_detail</p>
            </div>
            <div class="feature col-sm-6 col-sm-offset-6 col-md-3 col-md-offset-0 clearfix">
                <h3>@Index_cshtml.F2</h3>
                <p class="small"> @Index_cshtml.F2_detail</p>
            </div>
        </div><!-- END -->
        <!-- Features -->
        <div class="row">
            <div class="feature last col-sm-6 col-sm-offset-6 col-md-3 clearfix">
                <h3>@Index_cshtml.F3</h3>
                <p class="small"> @Index_cshtml.F3_detail</p>
            </div>
        </div><!-- END -->

    </div>
</section>
<!-- End Feature Block -->
<!-- Begin Client Logos Block -->
<section class="clients container">
    <div class="row">
        <div class="logo animated fade col-sm-3" data-appear-bottom-offset="100">
            <img src="images/logos/logo_vietinbank.jpg" alt="client">
        </div>
        <div class="logo animated fade col-sm-3" data-appear-bottom-offset="100">
            <img src="images/logos/MOST.jpg" alt="client">
        </div>
        <div class="logo animated fade col-sm-3" data-appear-bottom-offset="100">
            <img src="images/logos/vcb.png" alt="client">
        </div>
        <div class="logo animated fade col-sm-3" data-appear-bottom-offset="100">
            <img src="images/logos/world_bank_logo.png" alt="client">
        </div>

    </div>
</section>
<!-- End Client Logos Block -->