@model IEnumerable<Vnsf.WebHost.Models.PostDisplayModel>

<!-- Begin Small Hero Block -->
<section class="hero small accent parallax" style="background-image: url(images/parallax.png);"></section>
<!-- End Small Hero Block -->
<!-- Begin Blog Block -->
<section class="content container">
    <div class="row">

        <!-- Begin Posts -->
        <div class="col-sm-8">

            @foreach (var item in Model)
            {
                            <!-- Standard Post -->
                <div class="post image">
                    <span class="date">@Html.DisplayFor(modelItem => item.PublishDate.Day)<br><small>@item.PublishDate.ToString("MMM", System.Globalization.CultureInfo.InvariantCulture)</small></span>
                    <div class="post-title">
                        <h2><a href="#">@Html.ActionLink(item.Title, "Post", "News", new { id = item.Id }, null)</a></h2>
                        <div class="post-meta">
                            <h6>Posted by <a href="#">@Html.DisplayFor(modelItem => item.CategoryName)</a> / <a href="#">Standard</a></h6>
                        </div>
                    </div>

                    <div class="post-body">
                        @Html.Raw(item.Abstract)
                        <div>
                            <a href="#">@Html.ActionLink("Chi tiết", "Post", "News", new { id = item.Id }, null)</a>
                        </div>
                    </div>
                </div><!-- END -->
            }

        </div><!-- END -->
        @Html.Partial("_Sidebar")
    </div>
</section>
<!-- End Blog Block -->
