@model Vnsf.WebHost.Models.PostDisplayModel

<!-- Begin Small Hero Block -->
<section class="hero small accent parallax" style="background-image: url(images/blog/signingceremony.jpg);"></section>
<!-- End Small Hero Block -->
<!-- Begin Blog Block -->
<section class="content container">
    <div class="row">

        <!-- Begin Posts -->
        <div class="col-sm-8">

            <!-- Standard Post -->
            <div class="post image">
                <span class="date">@Model.PublishDate.Day<br><small>@Model.PublishDate.ToString("MMM", System.Globalization.CultureInfo.InvariantCulture)</small></span>
                <div class="post-title">
                    <h2><a href="blog-single.html">@Model.Title</a></h2>
                    <div class="post-meta">
                        <h6>Posted by <a href="#">@Model.CategoryName</a> / <a href="#">Standard</a></h6>
                    </div>
                </div>
                <div class="post-body">
                    @Html.Raw(Model.Abstract)
                    @Html.Raw(Model.Content)
                </div>


            </div><!-- END -->

        </div><!-- END -->
        @Html.Partial("_Sidebar")
    </div>
</section>
<!-- End Blog Block -->
