@model Vnsf.WebHost.Models.GrantViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@Html.ActionLink("CreateOpp", "CreateOpportunity", "Grants", new { grantId = Model.Id.ToString() }, null)
    <div>
        <h4>GrantViewModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Code)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Code)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Objective)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Objective)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaxDuration)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaxDuration)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Total)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Total)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaxAward)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaxAward)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastUpdated)
            </dd>

        </dl>
    </div>
    @Html.Partial("_Opportunities", Model.Opportunities);
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
