@model Vnsf.WebHost.Areas.Cheetah.Models.UserAccountLoginModel
@using Vnsf.WebHost.Models

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="row">

    <div class="form-horizontal col-md-8">
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.EmailOrMobile, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.EmailOrMobile)
                    @Html.ValidationMessageFor(model => model.EmailOrMobile)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RememberMe, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.RememberMe)
                    @Html.ValidationMessageFor(model => model.RememberMe)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="Login" class="btn btn-default" />
                </div>
            </div>
            }
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                @Html.ActionLink("Forgot password?", "ForgotPassword")
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
