@model Vnsf.WebHost.Models.ClassificationViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Description)</h4>
    @Html.ActionLink("Add root", "AddRoot", "Category", new { classId = Model.Id }, null)

    <hr />
</div>
@Html.Partial("_Children", Model.Categories)
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
