@using Vnsf.Resource.WebHost.Views.Shared

<!doctype html>
<!--[if IE 8 ]><html class="ie no-js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if IE 9]> <html class="ie9 no-js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VIIP - Nafosted PIU</title>
    <meta name="description" content="Vietnam inclusive innovation project">
    <meta name="keywords" content="viip, viip project, nafosted, technology innovation">
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="~/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    @*<link href='http://fonts.googleapis.com/css?family=Lato:300,400|Montserrat' rel='stylesheet' type='text/css'>*@
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="~/css/framework.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>
<body>
    <!-- Begin Navigation -->
    <nav class="mobile">
        <!-- Search -->
        <div class="search-trigger">@Html.Partial("_LangSelector")</div>
        <div class="search-form disabled">
            @Html.Partial("_LangSelector")
            @*<form action="404.html">
                <input name="search" id="search" type="text" class="search" onfocus="if(this.value == 'Search...') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Search...'; }" value="Search..." />
            </form>*@
        </div><!-- END -->
        <!-- Menu -->
        <ul class="nav-content clearfix">
            <li id="magic-line"></li>
            <li class="current-page first upper">
                <a href="/">@_Master_cshtml.Start</a>
            </li>
            <li class="upper"><a href="~/opportunities/">@_Master_cshtml.Opportunities</a></li>
            <li class="drop upper">
                <a class="drop-btn" href="#">@_Master_cshtml.NewsEvent</a>
                <ul class="drop-list">
                    <li><a href="#">@_Master_cshtml.Procurement</a></li>
                    <li><a href="~/news/">@_Master_cshtml.News</a></li>
                    <li><a href="#">@_Master_cshtml.Event</a></li>
                    <li><a href="#">@_Master_cshtml.Report</a></li>
                </ul>
            </li>
            <li class="upper"><a href="~/library/">@_Master_cshtml.Library</a></li>
            <li class="drop upper">
                <a class="drop-btn" href="#">@_Master_cshtml.About</a>
                <ul class="drop-list">
                    <li><a href="#">@_Master_cshtml.VIIP</a></li>
                    <li><a href="#">@_Master_cshtml.PIU</a></li>
                    <li><a href="#">@_Master_cshtml.FAQ</a></li>
                    <li><a href="~/about/">@_Master_cshtml.Contact</a></li>
                </ul>
            </li>            
        </ul><!-- END -->
    </nav>
    <header class="mobile">
        <!-- Logo -->
        <a href="~/"><img class="logo" src="~/images/logo.png" alt="VIIP PIU" /></a>
        <!-- Menu Button -->
        <button type="button" class="nav-button">
            <div class="button-bars"></div>
        </button><!-- END -->
    </header>
    <div class="sticky-head"></div>
    <!-- End Navigation -->

    <!-- PASTE HERE -->
    @RenderBody()




    <!-- Begin Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <!-- Contact List -->
                <ul class="contact-list col-md-8">
                    <li><i class="fa fa-envelope-o"></i><a href="mailto:viip@most.gov.vn">nafosted@most.gov.vn</a></li>
                    <li><i class="fa fa-phone"></i><a href="tel:047308 1209">+84 (4) 7308 1209</a></li>
                    <li><i class="fa fa-map-marker"></i><a href="~/about/">@_Master_cshtml.Address</a></li>
                </ul><!-- END -->
                <!-- Social List -->
                <ul class="social-list col-md-4">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li class="copyright">© 2014 NAFOSTED - VIIP PIU</li>
                </ul><!-- END -->                
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- Javascript -->
    <script src="/js/retina.js"></script>
    <script src="/js/backgroundcheck.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-53199392-1', 'auto');
    ga('send', 'pageview');

    </script>
</body>
</html>