@model Vnsf.WebHost.Areas.Cheetah.Models.OppViewModel

@{
    ViewBag.Title = "Details";
}
<h2>@Html.DisplayFor(model => model.Name)</h2>

<div class="row">
    <div class="col-lg-9">

        <hr />
        <p>
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    <br />
                    @Html.DisplayFor(model => model.Description)
                    <br />
                    <br />

                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.NumberOfAward)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NumberOfAward)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TotalAward)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TotalAward)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StartDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Deadline)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Deadline)
                </dd>

            </dl>
        </p>

        <div class="panel panel-default">
            <div class="panel-heading">@Html.DisplayFor(model => model.GrantCode) - @Html.DisplayFor(model => model.GrantName)</div>
            <div class="panel-body">

                <h4>Description</h4>
                <div>
                    @Html.Raw(Model.GrantDescription)
                </div>

                <h4>Scope</h4>
                <div>
                    @Html.Raw(Model.GrantScope)
                </div>

                <h4>Objective</h4>
                <div>
                    @Html.Raw(Model.GrantObjective)
                </div>
                <p>
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.GrantTotal)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.GrantTotal)
                        </dd>

                    </dl>
                </p>
            </div>

        </div>

    </div>
    <div class="col-lg-3">
        @using (Html.BeginForm("Apply", "Opportunity", FormMethod.Post, null))
        {
            @Html.HiddenFor(m => m.Id)
            <input type="submit" class="btn btn-primary" value="ĐĂNG KÝ" />
        }
    </div>
</div>