@model Vnsf.WebHost.Models.Document.DocumentsSelectionViewModel

@{
    ViewBag.Title = "Document manager";
}

<h2>Document manager</h2>
<br />
@*@foreach (var item in (ViewData["breadcums"] as IEnumerable<FolderViewModel>))
    {
        @Html.ActionLink(item.Name, "browse", new { location = string.Format("{0}/{1}", item.Location, item.Name) }) @: >
    }*@

@using (Html.BeginForm("Browse", null, FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
{


    <p>
        @*@Html.TextBox("search", null, new { @class = "form-control" })*@
        @Html.ActionLink("Up", "Up", new { location = Model.CurrLocation.LastIndexOf('/') > 0 ? Model.CurrLocation.Substring(0, Model.CurrLocation.LastIndexOf('/')) : "" }, new { @class = "btn btn-sm btn-primary" })

        @Html.ActionLink("Upload", "Upload", new { location = Model.CurrLocation }, new { @class = "btn btn-sm btn-primary" })
        @Html.ActionLink("New folder", "Create", new { location = Model.CurrLocation, isFolder = true }, new { @class = "btn btn-sm btn-primary" })
        <button class="btn btn-sm btn-primary" type="submit" value="submit">Delete</button>

    </p>

    <table class="table">
        <tr>
            <th><input type="checkbox" id="checkall" /><span></span></th>
            <th>Name</th>
            <th>Kind</th>
            <th>Length</th>
            <th></th>
        </tr>
        @Html.EditorFor(model => model.Documents)
    </table>
}

@section scripts{
    <script type="text/javascript">
        function toggleChecked(status) {
            $("input").each(function () {
                $(this).prop("checked", status);
            });
        }

        $(document).ready(function () {

            //Set the default value of the global checkbox to true:
            // $("#checkall").prop('checked', true);

            $("#checkall").click(function () {
                var status = $("#checkall").prop('checked');
                toggleChecked(status);
            });
        });
    </script>
}
