@model Vnsf.WebHost.Models.DocumentViewModel
@using Humanizer

@{
    Layout = "~/Areas/Cheetah/Views/Shared/_LayoutForAnonymous.cshtml";
}

<h2>FileShare - @Model.Name</h2>
<h4>@Model.Description</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.TextBox("Email")
        @Html.TextArea("Message")
        
    </dl>
</div>

@Html.ActionLink("Download", "DownloadFile", new { id = Model.Id }, new { @class = "btn btn-primary" })

