@model Vnsf.WebHost.Models.Document.DocumentsSelectionViewModel

@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>
@*@foreach (var item in (ViewData["breadcrumb"] as IEnumerable<DocumentViewModel>))
    {
        @Html.ActionLink(item.Name, "FolderView", new { id = item.Id }) @: >
    }*@


<p>
    @Html.ActionLink("Upload", "AddFile", new { folderId = ViewData["folderId"] }, new { @class = "btn btn-sm btn-primary" })
    @Html.ActionLink("Create folder", "Create", new { path = Model.Path, isFolder = true }, new { @class = "btn btn-sm btn-primary" })
    @Html.ActionLink("Download", "AddFile", new { folderId = ViewData["folderId"] }, new { @class = "btn btn-sm btn-primary" })
    @Html.ActionLink("Delete", "AddFile", new { folderId = ViewData["folderId"] }, new { @class = "btn btn-sm btn-primary" })

</p>
<button type="button" data-toggle="modal" data-target="#myModal">Launch modal</button>

@using (Html.BeginForm("Index", null, FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
{
    <table class="table">
        <tr>
            <th><input type="checkbox" id="checkall" /><span></span></th>
            <th>Name</th>
            <th>Content Type</th>
            <th>Length</th>
            <th></th>
        </tr>
        @Html.EditorFor(model => model.Documents)
    </table>
    <input type="submit" name="operation" id="submit" value="Submit Selected" />
}

@section scripts{
    <script type="text/javascript">
        function toggleChecked(status) {
            $("input").each(function () {
                $(this).prop("checked", status);
            });
        }

        $(document).ready(function () {

            //Set the default value of the global checkbox to true:
            // $("#checkall").prop('checked', true);

            $("#checkall").click(function () {
                var status = $("#checkall").prop('checked');
                toggleChecked(status);
            });
        });
    </script>
}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div><p>Choose files to upload to the folder temp. You can select more than one file at a time. You can also drag and drop files anywhere on this page to start uploading.</p></div>
                <div class="well">
                    <span>Uploaded 3 files</span><span>- 1.69 MB</span><span class=" pull-right"></span>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <span class="pull-left">
                        Having problems? Try the
                        <a>basic uploader</a>.
                    </span>
                    <div class="pull-right">
                        <input style="position: relative; z-index: 1;" type="button" id="choose-button" value="Choose files" class="btn btn-primary">
                        <input type="button" onclick="Modal.hide();" value="Cancel" class="btn btn-default">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
