@model Vnsf.WebHost.Areas.Cheetah.Models.UserProfileBindingModel

@{
    ViewBag.Title = "Index";
}


@if (Model == null)
{
    using (Html.BeginForm())
    {
        <button type="submit" class="btn btn-primary" value="Submit">Create resume</button>
    }
}
else
{
    <div class="row">
        <div class="col-lg-9">
            <div>
                <h3>Thông tin chung</h3>                
                @Html.ActionLink("General Info", "NewGeneralInfo", new { profileId = Model.Id })
            </div>
            <div>
                <h3>Quá trình đào tạo</h3>
                @Html.ActionLink("Thêm", "NewEducation", new { profileId = Model.Id })
                @Html.Partial("_Educations", Model.Educations.OrderBy(e=>e.StartDate))
            </div>
            <div>
                <h3>Các công bố</h3>
                @Html.ActionLink("Thêm", "NewPublication", new { profileId = Model.Id })
                @Html.Partial("_Publications", Model.Publications)
            </div>
            <div>
                <h3>Quá trình công tác</h3>
                @Html.ActionLink("Thêm", "NewJob", new { profileId = Model.Id })
                @Html.Partial("_Experiences", Model.WorkExperiences)
            </div>
            <div>
                <h3>Dự án tham gia</h3>
                @Html.ActionLink("Thêm", "NewProject", new { profileId = Model.Id })
                @Html.Partial("_Projects", Model.Projects)
            </div>

        </div>
        <div class="col-lg-3">

        </div>

    </div>
}

@section scripts{
    <script>
        $(function () {
            $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }
                var ok = true;
                try {
                    $.datepicker.parseDate('dd/mm/yy', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            });
            $(".datefield").datepicker({ dateFormat: 'dd/mm/yy', changeYear: true });
        });
    </script>

}