@model IEnumerable<Vnsf.Data.Entities.Report>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Purpose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scope)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Methodology)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Changes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accomplishment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recommendation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Impacts)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmittedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Purpose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Scope)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Methodology)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Changes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accomplishment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recommendation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Impacts)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
